/* Styles for Basic Checks section */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #edecec;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
}

form label {
  font-size: 16px;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="file"],
form select,
form textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form textarea {
  resize: vertical;
  height: 100px;
}

.test-section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
}

.test-section h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  text-align: left;
}

/* New styles for code container and copy button */
.code-container {
  position: relative;
  margin-bottom: 20px;
}

.delete-btn {
  top: 5px;
  right: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 4px;
}

#delete-result {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  border-radius: 4px;
  /* white-space: pre-wrap; */
}

.uploaded-files-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.file-item {
  margin-bottom: 10px;
}

.copy-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 4px;
}

.copy-btn:hover {
  background-color: #0056b3;
}

.icon-sm {
  width: 16px;
  height: 16px;
}

/* Toast notification styles */
.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}
